/* Utileties */

.main-content {
    margin-top: 70px;
}

/* Colors */
body{
    background-color: #737373;
}

.navbar {
    background-color: #030303;
}

.nav-item:hover {
    background-color: #eabedb;
}

.nav-link:hover {
    color: #737373;
}

.btn-custum {
    background-color: #eabedb;
}
.btn-custum:hover {
    background-color: #e299c9;
}

#section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
  }

  .card-custom {
    border-radius: 14px;
    background-color: #d9d9d9;
    box-shadow: 12px 32px 32px -12px #e299c9;
    padding: 20px;
    min-width: 250px;
    height: 500px;
    margin-bottom: -100px;
    margin-right: -50px;
    z-index: 1;
    transition: all 0.25s ease-in-out;
    filter: grayscale(100%);
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
  }


#section .card-custom:hover {
    transform: translateY(-16px) rotate(3deg);
    filter: grayscale(0%);
    z-index: 2;
}

#section .card-custom:hover ~ .card-custom {
    transform: translateX(130px);
}

.card {
    padding: 20px 20px;
    position: relative;
    border-radius: 10px;
}

.content {
    position: relative;
    margin-top: 30px;
    width: 50%;
    padding: 10px 50px;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.content.visible {
    opacity: 1;
}

.timeline {
    position: relative;
    margin-top: 30px;
}

.timeline:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #eabedb;
    top: 0;
    left: 50%;
}

.point{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    border: 10px solid #eabedb;
    border-radius: 50%;
    right: -13px;
}


.timeline-item:before {
  content: '';
  position: absolute;
  top: 30px;
  left: -8px;
  width: 16px;
  height: 16px;
  background-color: #eabedb;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item:after {
  content: '';
  position: absolute;
  top: 40px;
  left: -8px;
  width: 16px;
  height: 16px;
  border: 2px solid #eabedb;
  border-radius: 50%;
  z-index: 1;
}



.visible {
  opacity: 1;
}

/* fade in effect on the cards */
.highlight {
    display: inline-block;

    background-image: linear-gradient(#eabedb, #eabedb);
    background-repeat: no-repeat;

    background-size: 10px 100%;
    background-position: 0 0;
    transition: background-size 0.5s, background-position 0.3s 0.5s;
}

.highlight:hover {
    background-size: 100% 100%;
    background-position: 100% 0%;
    transition: background-position 0.3s, background-size 0.5s 0.3s;
}

.timeline-fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.timeline-fade-in.visible {
  opacity: 1;
}

.timeline-fade-in:nth-child(odd) {
  transition-delay: 0.5s;
}

.timeline-fade-in:nth-child(even) {
  transition-delay: 1s;
}


@media only screen and (max-width: 768px) {
    .card-smal {
        width: 100%;
        margin-right: 0;
    }

    .timeline::after {
        left: 100%;
    }
    
    .content {
        width: 100%;
        padding: 10px;
    }
}
