{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <article class="card card-detail mb-5">
        <header class="card-header">
          <h1 class="card-title h2 text-center mb-4">{{ post.title }}</h1>
          <p class="card-text text-muted text-center">{{ post.created_at|date:"Y-m-d" }}</p>
        </header>
        <div class="card-body">
          <div class="mb-4">
            <img src="{{ post.image.url }}" class="img-fluid rounded">
          </div>
          <p class="card-text lead">{{ post.content|safe }}</p>
          <div class="mt-4 text-center">
            <button onclick="goBack()" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-arrow-left"></i> Back to Posts</button>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>


<script>
    function goBack() {
      window.history.back();
    }
</script>

{% endblock %}