{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="timeline">
        <div class="timeline-tracker"></div>
        <h3>Education</h3>
        {% for e in education %}
        <div class="col-sm-6 col-lg-4 content education {% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}">
          <div class="card card-smal mb-3">
            <div class="card-body">
              <h4 class="highlight card-title">{{ e.degree }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ e.institution }} ({{ e.major }})</h6>
              <p class="card-text">{{ e.start_date|date:"M Y" }} - {% if e.end_date %}{{ e.end_date|date:"M Y" }}{% else %}Present{% endif %}</p>
            </div>
          </div>
          <span class="point point-right-sm {% if forloop.counter|divisibleby:2 %}point-left{% else %}point-right{% endif %}"></span>
        </div>
        {% endfor %}
        <div class="timeline-point"></div>
        <h3>Experience</h3>
        {% for ex in experience %}
        <div class="col-sm-6 col-lg-4 content experience {% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}">
          <div class="card card-smal mb-3">
            <div class="card-body">
              <h4 class="highlight card-title">{{ ex.position }}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ ex.company }}</h6>
              <p class="card-text">{{ ex.description }}</p>
              <p class="card-text">{{ ex.start_date|date:"M Y" }} - {% if ex.end_date %}{{ ex.end_date|date:"M Y" }}{% else %}Present{% endif %}</p>
            </div>
          </div>
          <span class="point point-right-sm {% if forloop.counter|divisibleby:2 %}point-left{% else %}point-right{% endif %}"></span>
        </div>
        {% endfor %}
        <div class="timeline-point"></div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var content = $('.content');
    content.each(function(i) {
      var thisContent = $(this);
      setTimeout(function() {
        thisContent.addClass('visible');
      }, (i + 1) * 550);
    });
  });
</script>


{% endblock %}
